/* typography */
h1, h2, h3, h4 {
  font-family:'Marcellus';
}
body {
	font-family:"Palatino Linotype"
}
.navbar {
	font-family:'Marcellus';
	-webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1); /* WebKit */
	-moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1); /* Firefox */
	box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1); /* Standard */
}

a {
	color:#EF6464;
}
a:hover{
	color:#671D1D;
}

/* move down for fixed navbar */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* navbar */
.navbar-inverse {
	background:#671d1d;
	border-bottom:0;
}

.navbar-inverse .navbar-nav>li>a {
	color:#fff;
}
.navbar-inverse .navbar-nav>li>a:hover {
	color:#ef6464;
}

.navbar-inverse .navbar-brand {
	color:white;
}

.navbar-inverse .navbar-brand:hover {
	color:#EF6464;
}
.navbar-inverse .navbar-brand:hover em {
	color:white;
}

.navbar-inverse .navbar-brand em {
	color:#ef6464;
	font-style:normal;
}

/* jumbotron */

.jumbotron {
	background:url('../img/jumbotron.jpg') center 75% no-repeat;
	background-size:cover;
	-webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1); /* WebKit */
	-moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1); /* Firefox */
	box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1); /* Standard */
}
.team {
	background:url('../img/team.jpg') center 25% no-repeat;
	background-size:cover;
	height:250px;
}

.btn-primary {
	background:#671d1d;
	border-color:white;
}
.btn-primary:hover {
	background:#dd8c8c;
	border-color:#eee;
}

.contract {
	font-family:'Times New Roman';
}
.pagelayout {
	padding:2em;
	-webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1); /* WebKit */
-moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1); /* Firefox */
box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.1); /* Standard */
	background-image:url('../img/paper.png');
}

/* affix */
.affix-top {
	
}

.affix {
	
}

dl {
	margin:0;
}

attr {
	border-bottom: 1px dashed black;
	cursor:help;
}

/* list features */
.list-features li {
	padding-left:2em;
	text-indent:-1em;
}
.panel-info, .panel-primary {
	border-color:#ddd;
	-webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1); /* WebKit */
	-moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1); /* Firefox */
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1); /* Standard */
}
.panel-primary .panel-heading {
	background:#671D1D;
	border-bottom:0;
}
.panel-info .panel-heading {
	background:#dd8c8c;
	border-bottom:0;
	color:white;
}


.id-providers {
	margin:4em 0 4em;
}

.feature {
	width:100px;
	height:100px;
	padding-top:13px;
	background-image:url('../img/feature.png');
}
