<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>contractr</title>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <link href="/styles/jquery.pnotify.default.css" media="all" rel="stylesheet" type="text/css" />
    <link href='//fonts.googleapis.com/css?family=Marcellus' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript">
      var _HOST = "{{ host }}"
    </script>
  </head>
  <body>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    <script src="/scripts/jquery-1.8.3.min.js"></script>
    <script src="/scripts/jquery.validate.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/jquery.pnotify.min.js"></script>
    {% block script %}  {% endblock %}
  </body>
</html>
