{% extends "base.html" %}


{% block content %}
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">contract<em>r</em></a>
      </div> 
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <form class="navbar-form navbar-right">
        <!--<div class="form-group">
          <input type="text" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-control">
        </div>-->
        <button onclick="javascript:location.href='{{ login_url }}';return false;" class="btn btn-default">Sign in</button>
        </form>
      </div><!--/.navbar-collapse -->
    </div>
  </div>
    
  <div class="jumbotron">
    <div class="container">
      <h1>Easily sign contracts online</h1>
      <p>let multiple users sign their contracts online</p>
      <p>use your preferred certificate signing method</p>
      <p><a class="btn btn-primary btn-lg">Create your first contract</a></p>
    </div>
  </div>
    
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p class="text-center"><img src="/images/feature-safe.png" /></p>
        <h2 class="text-center">Secure storage</h2>
        <p class="text-center">All your contracts are stored in a safe and encrypted cloud environment, where you can
          access them from anywhere around the world.</p>
      </div>
      <div class="col-md-4">
        <p class="text-center"><img src="/images/feature-sign.png" /></p>
        <h2 class="text-center">Collaborative signing</h2>
        <p class="text-center">Sign contracts and let others sign contracts using your security credentials
          with your preferred signing methods.</p>
      </div>
      <div class="col-md-4">
        <p class="text-center"><img src="/images/feature-store.jpg" /></p>
        <h2 class="text-center">Model contracts</h2>
        <p class="text-center">Use our legal checked model contracts for all your contract needs such as subletting or
          for freelance workers.</p>
      </div>
    </div>
  </div>
  
  <hr>
    
  <footer>
    <p class="text-center">&copy; Copyright contractr 2013 - engineered in Zurich - <a href="#">Legal</a></p>
  </footer>
{% endblock %}
