{% extends "base.html" %}


{% block content %}  
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">contract<em>r</em></a>
      </div> 
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">My contracts</a></li>
          <!--<li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ nickname }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{{ logout_url }}">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.navbar-collapse -->
    </div>
  </div>
  
  
  <div class="container">
  <div class="page-header">
    <h1><small>{{ nickname }}</small><br />
    My contracts</h1>
  </div>
    <div class="row">
      <div class="col-md-8">
        <h2>Contracts</h2>

        {% if contracts_empty %}
          <div class="alert alert-dismissable alert-warning">
            <p>You don't have contracts at the moment.</p>
          </div>
        {% endif %}

        {% if not contracts_empty %}
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Title</th>
                <th>Date added</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <!--<tr>
                <td>Sublease for Appartment at Hardeggstr. 11 <span class="label label-default">New signature</span></td>
                <td>Aug 23<sup>rd</sup>, 2013</td>
                <td><a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                  <a href="#"><span class="glyphicon glyphicon-floppy-save"></span></a>
                </td>
              </tr>
              <tr>
                <td>Freelance contract for John Doe</td>
                <td>Oct 25<sup>th</sup>, 2013</td>
                <td><a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                  <a href="#"><span class="glyphicon glyphicon-floppy-save"></span></a>
                </td>
              </tr>-->
              {% for contract in contracts %}
                <tr>
                  <td>{{ contract.Name|e }}</td>
                  <td>Aug 23<sup>rd</sup>, 2013</td>
                  <td><a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-floppy-save"></span></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}

      </div>
      <div class="col-md-4">
        <h2>Add a new contract</h2>
        
        <form role="form" id="create-contract-form">
          <div class="form-group">
            <label for="contractTitle">Contract Title</label>
            <input type="text" class="form-control" id="contractTitle" name="contractTitle" placeholder="Enter title">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Model Contract</label>
            <select class="form-control" id="contractModel" name="contractModel">
              <option value="NoModelContract">No model contract</option>
              <option value="Sublease">Sublease</option>
              <option value="Freelance">Freelance worker contract</option>
            </select>
          </div>
          <button type="submit" class="btn btn-default" id="create-contract-button">Create</button>
        </form>
      </div>
    </div>
  </div>
  
  <hr>
    
  <footer>
    <p class="text-center">&copy; Copyright contractr 2013 - engineered in Zurich - <a href="#">Legal</a></p>
  </footer>
    
{% endblock %}

{% block script %}<script src="/scripts/overview.js"></script>{% endblock %}
