/* typography */
body, h1, h2 {
  font-family:'Marcellus', "Palatino Linotype";
}

/* move down for fixed navbar */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* navbar */
.navbar-inverse {
	background:#671d1d;
	border-bottom:0;
}

.navbar-inverse .navbar-brand {
	color:white;
}

.navbar-inverse .navbar-brand em {
	color:#ef6464;
	font-style:normal;
}

/* jumbotron */

.jumbotron {
	background:url('/images/jumbotron.jpg') center 75% no-repeat;
	background-size:cover;
}

.btn-primary {
	background:#671d1d;
	border-color:white;
}
.btn-primary:hover {
	background:#EF6464;
	border-color:#671D1D;
}
